body {
  background: black;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

nav {
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: flex;
  gap: 1rem;
}

nav a, nav label {
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: xx-large;
}

nav label {
  color: brown;
}

a:hover, label:hover {
  transform: scale(1.3);
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

input[type="file"] {
  display: none;
}